* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing:border-box;
    padding: 0%;
    margin: 0%;
}
body {
    background-color: black;
    font-family:'arial regular', sans-serif;
}
h2 ,h3 ,button {
    text-transform:capitalize ;
}
h2 ,p ,button{
     color: #fff;
     opacity: .9;
}
.container {
    width: 20%;
    height: 70vh;
    margin: auto;
    margin-top: 120px;
    background-color:#1f1f1f ;
    border-radius: 10px;
    text-align: center;
}
div img {
    margin: 20px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.content h2 {
    font-size: 22px;
    margin: 10px 0;
    font-weight:600;
    color: #fff;
    letter-spacing: 1.2px;
}
.content h3 {
    color:#ccff33; 
    letter-spacing: 1.2px;
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 20px;
}
.content p {
    padding-bottom: 20px;
    font-weight: 200;
     font-size: 12px;
    letter-spacing: 1px;
}
div button {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-left: 30px;
    width: 245px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #333333;
    font-weight:bold;
    padding-top: 9px;
    background: #333333;
    justify-content:center;
}
div button:hover {
    background-color: #ccff33;
    color: #000000ae;
    cursor: pointer;
}